<mat-toolbar color="primary">
  Fibonacci calculator
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nth fibonacci element" #nth>
      </mat-form-field>
      <button
        mat-button
        (click)="submitFib(nth)"
        color="primary"
      >
      GET IT
      </button>
    </form>

    <mat-card *ngIf="fibVal">
      <mat-list>
        <mat-list-item>{{ n }}th element is equal {{ fibVal }}</mat-list-item>
        <button
          mat-button
          (click)="clear()"
          color="primary"
        >
        CLEAR
        </button>
      </mat-list>
    </mat-card>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
