
.card {
  padding: 0;
  margin: -$header-height auto 0;
  width: 75%;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.6);

  .title {
    margin-right: auto;
    font-weight: 400;
  }
}

.content {
  height: 400px;
}